Trailing whitespace in headers is not stripped, violating RFC 2616/7230

### Steps to reproduce

With config.ru:

```ruby
run(proc{|env| [200, {}, [env['HTTP_FOO'].inspect, "\n"]]})
```

Start server:

```
rackup -o 127.0.0.1
```

Test with header with trailing whitespace:

```
curl -HFoo:"  Bar  Blah  " http://127.0.0.1:9292
```

### Expected behavior

Output should be:

```
"Bar  Blah"
```

### Actual behavior

Output is:

```
"Bar  Blah  "
```

### System configuration

Not dependent on system configuration.

I believe this is a violation of RFC 2616 section 4.2 :

```
   The field-content does not include any leading or trailing LWS:
   linear white space occurring before the first non-whitespace
   character of the field-value or after the last non-whitespace
   character of the field-value. Such leading or trailing LWS MAY be
   removed without changing the semantics of the field value.
```

and RFC 7230 section 3.2.4:

```
   A field value might be preceded and/or followed by optional
   whitespace (OWS); a single SP preceding the field-value is preferred
   for consistent readability by humans.  The field value does not
   include any leading or trailing whitespace: OWS occurring before the
   first non-whitespace octet of the field value or after the last
   non-whitespace octet of the field value ought to be excluded by
   parsers when extracting the field value from a header field.
```

Unicorn and Webrick both correctly strip the trailing whitespace.  Thin has the same bug as Puma, but appears dead upstream.

Confirmed repro on master.

I believe the correct place to fix this in the extensions, so I leave that to an enterprising C/Java programmer. I'll write a skipped test for the behavior though.

Maybe not relevant, but I’m very curious to know on what scenarios this is
a problem?

On Tuesday, 6 August 2019, Jeremy Evans <notifications@github.com> wrote:

> Steps to reproduce
>
> With config.ru:
>
> run(proc{|env| [200, {}, [env['HTTP_FOO'].inspect, "\n"]]})
>
> Start server:
>
> rackup -o 127.0.0.1
>
> Test with header with trailing whitespace:
>
> curl -HFoo:"  Bar  Blah  " http://127.0.0.1:9292
>
> Expected behavior
>
> Output should be:
>
> "Bar  Blah"
>
> Actual behavior
>
> Output is:
>
> "Bar  Blah  "
>
> System configuration
>
> Not dependent on system configuration.
>
> I believe this is a violation of RFC 2616 section 4.2 :
>
>    The field-content does not include any leading or trailing LWS:
>    linear white space occurring before the first non-whitespace
>    character of the field-value or after the last non-whitespace
>    character of the field-value. Such leading or trailing LWS MAY be
>    removed without changing the semantics of the field value.
>
> and RFC 7230 section 3.2.4:
>
>    A field value might be preceded and/or followed by optional
>    whitespace (OWS); a single SP preceding the field-value is preferred
>    for consistent readability by humans.  The field value does not
>    include any leading or trailing whitespace: OWS occurring before the
>    first non-whitespace octet of the field value or after the last
>    non-whitespace octet of the field value ought to be excluded by
>    parsers when extracting the field value from a header field.
>
> Unicorn and Webrick both correctly strip the trailing whitespace. Thin has
> the same bug as Puma, but appears dead upstream.
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/puma/puma/issues/1890?email_source=notifications&email_token=AAAFT52ANWHQMNJG2UDH5NDQDICD3A5CNFSM4IJ3ARX2YY3PNVWWK3TUL52HS4DFUVEXG43VMWVGG33NNVSW45C7NFSM4HDYFBQA>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAAFT5YJCLJBRZ2MFT3TS43QDICD3ANCNFSM4IJ3ARXQ>
> .
>


-- 
Jesús Burgos Maciá


🤷‍♂ but the "ought to" in RFC 7230 section 3.2.4 means I think we should do it.

obviously it doesnt *really* matter too much as this parser has served apps successfully for almost 15 years.

[Unicorn seems to just strip all whitespace everywhere](https://github.com/defunkt/unicorn/blob/5e3d05997769dd270123b9c2479938704de078de/ext/unicorn_http/unicorn_http.rl#L231) if I'm reading it correctly.