Do some basic validation on Host

### Discussed in https://github.com/puma/puma/discussions/2977

<div type='discussions-op-text'>

<sup>Originally posted by **ioquatix** September 30, 2022</sup>
We haven incoming requests with a borked host header, i.e.

```
Host: ${ip}
```

(literally that string)

My question is, who should be responsible for rejecting this?

The server?

Clearly the host header is "invalid" if you are to try and construct a URL from it.</div>

cc @ioquatix 

https://github.com/rack/rack/issues/1970 is related reading on this topic

@nateberkopec do you mind giving some background on why this is on your radar? I was under the impression we were negative towards servers doing validation like this. I'm on the fence. However, I think it's good to be defensive....

@nateberkopec, has there been any consensus on this yet? Should we introduce an optional host validation that can be enabled as needed?

Additionally, based on this comment (https://github.com/rack/rack/issues/1970#issuecomment-1269061994), @ioquatix, does this imply that Puma's implementation should also be supported by other web servers? If so, would picking this up mean we should submit PRs to ensure consistent behavior across all servers?

Some data coming to the server is user-controlled, and the `Host` or `:authority` headers fall under this category. An example of a non-user-controlled field may be the TCP peer address, which is part of the network stack and typically provided by the operating system.

User-controlled fields that have a well-defined meaning according to a relevant RFC should ideally be validated against those definitions. For instance, the `Host` header has a clear specification in [RFC 7230, Section 5.4](https://datatracker.ietf.org/doc/html/rfc7230#section-5.4), which outlines the format and expected values. Similarly, the `:authority` pseudo-header used in HTTP/2 is defined in [RFC 9113, Section 8.3](https://datatracker.ietf.org/doc/html/rfc9113#section-8.3), which specifies its purpose and constraints.

Without proper validation, user-controlled fields can become a vector for security vulnerabilities, such as injection attacks or routing issues, as the server may rely on these fields having a specific format for processing requests or generating responses.

It seems reasonable to me that by default these fields should be validated. How that happens is still an open question:

- The server validates the incoming data as early as possible and rejects/closes the connection before the application is even invoked.
- The application is invoked and we provide a default middleware for validating requests according to the RFCs.
- The application is invoked and we use `Rack::Lint` to validate requests according to the RFCs.

I think some fields should be validated at the server level. But perhaps an optional middleware for doing "normal" validations would be an easier/more consistent option (across server implementations).

@ioquatix In my opinion it should be an optional configuration/middleware.
However after reading [RFC 7230, Section 5.4](https://datatracker.ietf.org/doc/html/rfc7230#section-5.4)
> Since the Host header field acts as an application-level routing
   mechanism, it is a frequent target for malware seeking to poison a
   shared cache or redirect a request to an unintended server.  An
   interception proxy is particularly vulnerable if it relies on the
   Host field value for redirecting requests to internal servers, or for
   use as a cache key in a shared cache, without first verifying that
   the intercepted connection is targeting a valid IP address for that
   host.
   
  
  It clearly states it's an application-level routing mechanism and cautions on how it can be used maliciously.

It isn't always, but yes, it can be a security issue.

> It isn't always, but yes, it can be a security issue. Let me know if you'd like to chat about it over a video call some time.

@ioquatix  Have dropped an email to you 

> We haven incoming requests with a borked host header, i.e.
> 
> ```
> Host: ${ip}
> ```
> 
> (literally that string)
> 
> My question is, who should be responsible for rejecting this?
> 
> The server?

IMHO it is **not** the responsibility of the server. 

It is the application. The application has multiple layers: Rack, application framework, the actual application

Rack is in a good position to handle validations, almost all applications are using Rack, but the server applications use vary and so does the application framework they're written in.

Popular frameworks have "host authorization" middlewares doing validation and letting user specify which values to put trust into. [Rails](https://github.com/rails/rails/blob/v8.0.1/actionpack/lib/action_dispatch/middleware/host_authorization.rb), [Sinatra](https://github.com/sinatra/sinatra/blob/v4.1.1/rack-protection/lib/rack/protection/host_authorization.rb) (this one was very recently added)

This issue was created from this discussion: https://github.com/puma/puma/discussions/2977#discussioncomment-9594098

> I think this was a result of pen testing a Rails app, and the error was because we had some route handling/middleware that was blowing up trying to parse the host header using `URI`.

That sounds like an application problem. I don't think it is wise for applications to trust that the server will deliver sane values, what if you switch server to one that doesn't?

I don't think it makes sense to duplicate / spread out the already existing host headers parsing and validation efforts to yet another place (the server).

I think we should close this issue.

Agreed. Would love to see a middleware here.

Now being discussed in https://github.com/rack/rack/issues/2295