HTTP parse error, malformed request (): #<Puma::HttpParserError: Invalid HTTP format, parsing fails.>

### Steps to reproduce

1) Attempt a PATCH request with method = `patch` (lowercase)

### Expected behaviour

Given that `PUT` and `put` are accepted, it follows that `PATCH` and `patch` ought to be too, even though [the specification](https://www.rfc-archive.org/getrfc.php?rfc=5789)<sup>1</sup> defines it in UPPERCASE and as being case-sensitive as with [the original HTTP method verbs](https://www.rfc-archive.org/getrfc?rfc=2616)<sup>2</sup>.

Or perhaps a clue in the error message to that points to an invalid value for `method`?

### Actual behaviour

Request fails, the console outputs the error message:

`HTTP parse error, malformed request (): #<Puma::HttpParserError: Invalid HTTP format, parsing fails.>`

### Known fixes or workarounds

Use CAPITALS as per the specification!

### System configuration

**Ruby version**: ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-darwin16]
**Rails version**: Rails 5.1.6
**Puma version**: puma version 3.12.0

- <sup>1</sup> RFC 5789
- <sup>2</sup> RFC 2616, Section 5.1.1 - "The method is case-sensitive."

I wonder why we accept `put`? 

I don't think we do? Using Puma 3.12.0, I see this

```
$ curl -s -v --request put http://127.0.0.1:8080
* Rebuilt URL to: http://127.0.0.1:8080/
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)
> put / HTTP/1.1
> Host: 127.0.0.1:8080
> User-Agent: curl/7.54.0
> Accept: */*
>
< HTTP/1.1 400 Bad Request
* no chunk, no close, no size. Assume close to signal end
<
* Closing connection 0
```

```
$ curl -s -v --request patch http://127.0.0.1:8080
* Rebuilt URL to: http://127.0.0.1:8080/
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)
> patch / HTTP/1.1
> Host: 127.0.0.1:8080
> User-Agent: curl/7.54.0
> Accept: */*
>
< HTTP/1.1 400 Bad Request
* no chunk, no close, no size. Assume close to signal end
<
* Closing connection 0
```

Puma logs `HTTP parse error, malformed request (): #<Puma::HttpParserError: Invalid HTTP format, parsing fails.>` for both requests.

Same. Send bad input, expect a 400. Looks like Puma is working as expected here.